*{

  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html,body,#root
{
  height: 100%;
  width: 100%;
  overflow: hidden;
}

.App
{
  height: 100vh;
  width: 100vw;
}

.page2
{
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.page2-container
{
  height: 80%;
  width: 80%;
  background-color: white;
  border: 1px solid gray;
  box-shadow: 0px 10px 15px gray;
  border-radius: 7px;
}

.container-1
{
  height: 30%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  background-color: rgb(235, 16, 235);
}

.container-2
{
  height: 70%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

.name
{
  height: 50%;
  width: 90%;
  font-size: 50px;
  color: white  ;
  font-weight: 750;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.email
{
  height: 30%;
  width: 90%;
  font-size: 28px;
  color: white  ;
  font-weight: 500;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.phone
{
  height: 30%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;

}

.phone-1
{
  height: 50%;
  width: 100%;
  font-size: 30px;
  color: black;
  font-weight: 750;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.phone-2
{
  height: 50%;
  width: 100%;
  font-size: 30px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.address
{
  height: 30%;
  width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.address-1
{
  height: 50%;
  width: 100%;
  font-size: 30px;
  color: black;
  font-weight: 750;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.address-2
{
  height: 50%;
  width: 100%;
  font-size: 30px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.back-contact
{
  height: 15%;
  width: 90%;
  display: flex;
  background-color: black;
  color: white;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 7px;
  font-size: 28px;
  font-weight: 600;
}
