.main-page{
    height: 100vh;
    width: 100vw;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
}
.contacts{
    height: 10%;
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 700;
    /* background-color: red; */
}
.items{
padding-top: 2%;
height: 88%;
width: 90%;
display: flex;
flex-direction: column;
align-items: center;
gap: 10px;
}
.name-email{
    height: 10%;
    width: 90%;
    background-color: blue;
    font-size: 25px;
    font-weight: 500;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    padding: 1% 2%;
    color: #fdfdfd;
    /* align-items: center; */
}